<h2>helper paper</h2>

<div id="<%= dom_id paper %>">
  
  <p>
    <strong>Supplier:</strong>
    <%= paper.supplier_id %>
     <%= paper.supplier.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= paper.year %>
  </p>

 <div class = "container1">
   <div>
    <strong>Article:</strong>
    <%= paper.article %>
   </div>

   <div>
    <strong>Group:</strong>
    <%= paper.group %>
   </div>

    <div>
     <strong>Comment:</strong>
     <%= paper.comment %>
    </div>

  </div>



  <div class="container2">
    <div>
    <strong>Labtest:</strong>
    <%= paper.labtest %>
    </div>

    <div>
      <strong>Location labtest:</strong>
    <%= paper.location_labtest %>
    </div>

    <div>
    <strong>Certificate:</strong>
    <%= paper.certificate %>
    </div>

    <div>
    <strong>Location certificate:</strong>
    <%= paper.location_certificate %>
    </div>
  </div>

 
 
  

</div>
