<h2>helper paper</h2>

<div id="<%= dom_id(paper) %>" class="paper-card">
  <h3><%= link_to paper.article.presence || "Untitled", supplier_paper_path(@supplier, paper) %></h3>
  <p><strong>Year:</strong> <%= paper.year %></p>
  <p><strong>Group:</strong> <%= paper.group %></p>

  <p>
    <%= link_to "Show", supplier_paper_path(@supplier, paper), class: "button" %>
    <%= link_to "Edit", edit_supplier_paper_path(@supplier, paper), class: "button" %>
    <%= link_to "Delete", supplier_paper_path(@supplier, paper),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "button button-danger" %>
  </p>
</div>
